{% extends 'core/base.html' %}
{% block title %}Menu{% endblock %}
{% block content %}
<h2>Menu</h2>
<div class="row">
    {% for item in items %}
    <div class="col-md-4">
        <div class="card mb-4">
        <img src="{{ item.image.url }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p>{{ item.description }}</p>
            <p><strong>₹{{ item.price }}</strong></p>
            <a href="/add-to-cart/{{ item.id }}/" class="btn btn-primary">Add to Cart</a>
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}